.data {
   display: flex;
   gap: 20px;
}

.backlink {
   display: flex;
   gap: 2px;
   align-items: center;
   padding: 5px;

   width: 100px;
   height: 22px;
   border: 1px solid #0f0f0f;
   border-radius: 5px;
   background-color: beige;
}
